* {
    list-style:none;
  }
  
  #container {
    width : 80%;
    list-style:none;
    margin: 0 auto;
  }

  #searchbar{
      /* width:80%; */
      margin: 0 auto;
  }

  label {
      margin-right: 3px;
  }

  #btn_more{
    float:right;
    margin-right: 30px;
  }

  #go_back{
    margin : 20px 0;
  }

  #btn_more_title{
    margin-bottom: 30px;
  }